<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".inicio.Menu_activity"
            android:exported="true" />
        <activity
            android:name=".Necesidad.AñadirNecesidadActivity"
            android:exported="true" />
        <!-- Actividad de Login como principal -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Actividad de Registro Usuario -->
        <activity
            android:name=".ui.login.RegistroUsuarioActivity"
            android:exported="false" /> <!-- Actividad de Selección de Rol -->
        <activity
            android:name=".ui.login.SeleccionRolActivity"
            android:exported="false" /> <!-- Otras actividades existentes -->
        <activity
            android:name=".ui.voluntarios.RegistrarVoluntarioUbicacionActivity"
            android:exported="false"/>
        <activity
            android:name=".data.voluntarios.RegistrarVoluntariosActivity"
            android:exported="true"
            android:label="Registro de Voluntario"
            android:parentActivityName=".ui.login.SeleccionRolActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.login.SeleccionRolActivity" />
        </activity>
        <activity
            android:name=".afectados.RegistrarAfectadosActivity"
            android:exported="true"
            android:label="@string/registro_afectados" /> <!-- Mantén cualquier otra actividad o metadatos que ya existan -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD5aaBvxYkF_-T0SdvJCK3FDwuzvIeBVC0" />
    </application>

</manifest>